@import "../../node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  width: 100%;
}

//FOOOTER

$text_border_color: rgb(133, 131, 131);
$footer_red: rgb(233, 94, 94);

.footer {
  .row {
    margin: 2rem 0;
  }
  #map {
    margin-bottom: 1rem;
  }
  p {
    font-size: 1rem;
    color: $text_border_color;
    font-weight: lighter;
  }
  margin: 1rem;
  padding: 1rem;
  #contact_us {
    input,
    textarea {
      border-width: 0 0 1px 0;
      border-radius: 0;
      border-color: $text_border_color;
      padding: 1rem;
      &:focus {
        outline: none;
        box-shadow: none;
        border-color: $text_border_color;
      }
    }
    .btn_custom {
      border: 0;
      border-radius: 0;
      margin: 1rem auto;
      transition: all 0.8s;
      padding: 0.8rem;
      color: #fff;
      background-color: $footer_red;
      &:hover {
        background-color: rgb(34, 33, 33);
      }
    }
  }
  #find_us,
  #reservation {
    p {
      margin-top: 1rem;
    }
  }
  .open_hours {
    background: url("../images/open_hours.avif") rgba(0, 0, 0, 0.7);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    border-radius: 10px;
    width: 100%;
    color: #fff;
    padding: 1rem;
    text-align: left;
    .days {
      margin: 1rem 0;
      .bold_day {
        font-weight: bold;
        margin-bottom: -5px;
      }
    }
  }
  #social_media {
    .social_media_icons {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      margin-top: 2rem;
      color: $footer_red;

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $footer_red;
        background-color: transparent;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        transform-origin: middle;
        transition: all 0.2s;
        &:hover {
          background-color: $footer_red;
          color: #fff;
        }
      }
    }
    .copyright {
      p {
        margin: 1rem 0.8rem;
      }
    }
  }
}
